

body{

    font-family: 'Playfair Display', serif;
    font-size: 14px;

    background-color: #E5E5E5;
   
    margin: auto;

    width: 980px;
    color: #252828;

}

body.hideScroll{
    overflow: hidden;
}

strong{
    color: #00CED1;
}

header{
    height: 230px;

    margin-left: 4px;

}
header .logo{
    width: 230px;
    height: 230px;
}

main{

    width: 260px;

    text-align: center;
    color: #8B4513;

    margin: auto;

}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

footer{

    background-color: #FFFFFF;

    height: 65px;

    text-align: right;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 5px;
    
}

footer p{
    width: 240px;
    height: 42px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;

    opacity: 0.9;

    margin:32px 32px auto auto;
}
#conteiner{
    width: 90%;
    max-width: 900px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    background: #F5FFFA;
    
    display: block;

}

#intro{
    margin-top: 4px;

    height: 230px;

    background: #FFFFFF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 5px;

    display: flex;
    justify-content: space-between;

}

button {
    color: #00CED1;

    border: none;

    font-weight: bold;

    background: none;

    text-align: center;

    cursor: pointer;
    outline: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;



}

button:hover{
    text-decoration:  underline;
}

#buttons{
    font-size: 14px;

    width: 150px;
    height: 225px;

    display: flex;
    flex-direction: column;
 

}

button.add{
    
    color: #8B4513;


    margin: auto;

}

.fat{
    
    width: 100px;
    height: 0px;

    margin: auto;

    color: #00CED1;
    

    border-radius: 6px;

    box-shadow: 0px 8px 16px #00CED122 ;

    text-decoration: none;

    font-weight: bold;

    text-align: center;

    
}

.fat:hover{
    text-decoration: none;
}



.book{
    display: flex;

    width: 800px;

    margin: 32px auto;

    background: #FFFFFF;
    border: 1px solid #8B4513;
    border-radius: 8px;

    padding: 28px;
}

.book img{
    width: 150px;
    height: 150px;

    margin-right: 32px;
    margin-left: 5px;
}

.book h3{
    margin: 0;
}

.book h2{
    margin: 8px 0;
    color: #777;

    font-size: 14px;
}

.book p{
    font-size: 14px;

    color: #252828;
}

.book description{
    margin: 16px 0;
}

/*MODAL*/

#modal{
    background: #00CED1;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*width: 100vw;
    height: 100vh;
*/

    display: flex;
    justify-content: center;

}

#modal.addScroll{
    overflow: auto;
}


#modal .content{
    margin-top: 15%;

    color: #FFFFFF;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

.content form{
    width: 80%;
    max-width: 800px;

    margin: 0 auto 15%;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.content form div:nth-child(3){
    grid-column: span 2;
}



form a:hover{
    background: #FFFFFF;
    color: #8B4513;

    text-decoration: none;
}

form input,
form textarea{
    width: 100%;

    padding: 12px;

    box-sizing: border-box;

    border-radius: 6px;
    border: 2px solid #00ced180;

    font-size: 16px;


}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.9px;
}

form a{
    width: 150px;
    height: 40px;


    background-color: #8B4513;
    color: #00CED1;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;
    
    margin-top: 32px;

    text-decoration: none;

    transition: 300ms;
}

form button{
    background-color: #8B4513;

    width: 150px;
    height: 40px;

    border-radius: 6px;

    cursor: pointer;

    margin-top: 32px;

    justify-self: end;

    transition: 300ms;
}

form button:hover{
    background-color: #FFFFFF;
    color: #8B4513;

    text-decoration:none;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}

/* livros.html*/
#page-books #conteiner {
    display: block;
}
#page-books header {
    background: #FFFFFF;
    margin: 0;

    display: flex;
    justify-content: space-between;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
}
#page-books .logo{
    margin-left:4px ;
}
#page-books nav{

    display: flex;
    align-items: center;
}

#page-books nav li{
    list-style-type: none;


    margin-right: 16px;
}
#page-books nav li a{
    color: #8B4513;
    font-weight: bold;

    text-decoration: none;
}

#page-books nav li a:hover{
    color: #00CED1;

    text-decoration: none;
}

#page-books nav li:last-child{
    margin: 12px;

    
}

#page-books nav li:last-child a:hover{
    background-color: #8B4513;
    color: #00CED1;

    text-decoration: none;
}

#page-books nav li:last-child a{
    width: 150px;
    height: 30px;

    background-color: #00CED1;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    color: #8B4513;

}

section#title{
    text-align: center;

    margin: 39px 39px;

}
section#title p{
    opacity: 0.7;
    margin: 0;
}
section#title h1{
    margin: 0;

    font-size: 28px;
}

section#livros {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 5px;
}

section#livros .book{
    display: flex;


    width: 360px;

    margin: 3px auto;


    padding: 10px;
}


section#livros .book img{
    width: 90px;
    height: 90px;

    margin: auto 10px;
}

